* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
}

@font-face {
    font-family: "Open Sans";
    src: url("../Fonts/OpenSans-Regular.ttf"), url("../Fonts/OpenSans-Regular.woff"), url("../Fonts/OpenSans-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../Fonts/OpenSans-Bold.ttf"), url("../Fonts/OpenSans-Bold.woff"), url("../Fonts/OpenSans-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

.popup {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 10;
    display: none;
}

.popup-box {
    box-sizing: border-box;
    width: 23.493%;
    margin: auto;
    background-color: #ffffff;
    position: relative;
    z-index: 100;
    padding: 54px 30px;
}

.feedback-content {
    box-sizing: border-box;
    font-size: 13px;
    margin-top: 43px;
}

.form-group:nth-child(n+2) {
    margin-top: 34px;
}

.form-hint {
    display: block;
    margin-bottom: 9px;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    padding-left: 19px;
    padding-right: 28px;
    border: none;
    color: rgba(0, 0, 0, 0.54);
    background-color: #f4f7f6;
    background-image: url("../SVG/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: center right 14px;
    background-size: 8px;
    cursor: pointer;
}

.select:focus {
    border: 1px solid #b59f5b;
}

.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.radio-group-text {
    display: inline-block;
    cursor: pointer;
}

.radio-group-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../SVG/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
    margin-right: 5px;
}

.radio:checked~.radio-group-text::before {
    background-image: url("../SVG/form-circle.svg");
}

.textarea {
    box-sizing: border-box;
    display: block;
    padding: 20px;
    background-color: #f4f7f6;
    border: none;
    color: black;
    font-size: inherit;
    height: 130px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 500px;
}

.textarea:focus {
    border: 1px solid #b59f5b;
}

.form-actions {
    margin-top: 25px;
}

.button-submit {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border: none;
    margin-top: 18px;
    cursor: pointer;
    background-color: #b59f5b;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.button-submit:hover {
    background-color: #323232;
}

.popup-close {
    position: absolute;
    top: -26px;
    right: -1px;
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.popup-close-icon {
    width: 18px;
    height: 18px;
    fill: white;
}

.popup-close-label {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.header {
    background-image: url("../Images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
}

.header-box {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px 15px 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header-logo {
    display: block;
    width: 15.299%;
    height: 41px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../SVG/noemi-logo.svg")
}

.header-logo-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.menu {
    box-sizing: border-box;
    font-size: 13px;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 2.3em;
}

.menu-list-item>a {
    text-decoration: none;
    color: #ffffff;
}

.menu-list-item>a:hover {
    text-decoration: underline;
}

.welcome-title {
    display: block;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    margin: 125px auto 0;
    font-weight: bold;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
}

.trends {
    margin-top: 60px;
    padding-bottom: 64px;
}

.section-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #0f0d0e;
    text-align: center;
    position: relative;
}

.section-title::after {
    content: "";
    position: absolute;
    margin: 0 auto;
    top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b59f5b;
    opacity: 0.4;
    height: 3px;
    width: 66px;
}

.trends-cards {
    margin-top: 42px;
    display: flex;
}

.trend-card {
    width: 24.8%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #000000;
    flex: 1;
    padding: 157px 22px 16px 18px;
    display: flex;
    flex-direction: column-reverse;
}

.trend-card:nth-child(n+2) {
    margin-left: 0.24%;
}

.trend-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
}

.first-trend-card {
    background-image: url("../Images/trend1.jpg");
}

.second-trend-card {
    background-image: url("../Images/trend2.jpg");
}

.third-trend-card {
    background-image: url("../Images/trend3.jpg");
}

.fourth-trend-card {
    background-image: url("../Images/trend4.jpg");
}

.trend {
    box-sizing: border-box;
    padding: 42px 100px 35px 36px;
    border: 3px solid rgba(143, 127, 81, 0.6);
    position: relative;
    z-index: 1;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.card-tag {
    margin-right: 1.285em;
}

.card-tag:last-child {
    margin-right: 0;
}

.card-tag>a {
    font-weight: bold;
    text-decoration: none;
    color: #b59f5b;
}

.card-tag>a:hover {
    text-decoration: underline;
}

.card-title>a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    font-size: 20px;
    margin-top: 15px;
}

.card-title>a:hover {
    color: #b59f5b;
}

.trend-title>a {
    color: #ffffff;
}

.content {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles {
    box-sizing: border-box;
    width: 66.239%;
    margin-right: 10.256%;
    display: flex;
    flex-direction: column;
}

.article {
    display: flex;
}

.article:nth-child(n+2) {
    margin-top: 60px;
}

.article-image-box {
    width: 49.161%;
    margin-right: 3.87%;
    flex: none;
}

.article-image {
    display: block;
    max-width: 100%;
}

.article-header {
    margin-bottom: 37px;
}

.article-title>a {
    color: #0f0d0e;
}

.article-information {
    margin-bottom: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.article-date {
    font-size: 12px;
    color: #888888;
}

.article-author {
    margin-left: 1.25em;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
}

.card-content {
    line-height: 22px;
    font-size: 15px;
    color: #0f0d0e;
}

.sidebar {
    width: 23.076%;
}

.new-articles {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.sidebar-title {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #0f0d0e;
    text-align: center;
    position: relative;
}

.sidebar-title::after {
    content: "";
    position: absolute;
    margin: 0 auto;
    top: 24px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b59f5b;
    opacity: 0.4;
    height: 3px;
    width: 4.714em;
}

.new-article {
    display: flex;
}

.new-article:nth-child(n+3) {
    margin-top: 22px;
}

.new-article-image-box {
    box-sizing: border-box;
    margin-right: 7.037%;
    width: 25.925%;
    flex: none;
}

.new-article-image {
    display: block;
    max-width: 100%;
}

.new-article-date {
    display: block;
    text-align: left;
    font-size: 12px;
    color: #888888;
}

.new-article-title {
    text-decoration: none;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

.new-article-title:hover {
    color: #b59f5b;
}

.search-box {
    display: flex;
    font-size: 13px;
    height: 48px;
}

.search-group {
    display: block;
    width: 82.222%;
}

.search-field-label {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.search-field {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #f4f7f6;
    color: #000000;
}

.search-field:focus {
    outline: 1px solid #b59f5b;
}

.search-button {
    box-sizing: border-box;
    display: block;
    border: none;
    width: 17.777%;
    cursor: pointer;
    background-color: #b59f5b;
    background-image: url("../SVG/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
}

.search-button:hover {
    background-color: #323232;
}

.search-button-label {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.email-box,
.tags,
.themes {
    margin-top: 60px;
}

.email-field-label {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.email-field {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 18px;
    border: none;
    background-color: #f4f7f6;
    font-size: 13px;
    color: #000000;
}

.email-field:focus {
    outline: 1px solid #b59f5b;
}

.tags-list {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag-box {
    display: inline-block;
    border: 3px solid #eeeeee;
    padding: 7px 14px;
    margin-bottom: 6px;
}

.tag-box:hover {
    border: 3px solid #b59f5b;
}

.tag {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #0f0d0e;
    text-transform: uppercase;
}

.themes-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.theme-box {
    display: block;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.theme {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #0f0d0e;
}

.theme:hover {
    color: #b59f5b;
}

.number-articles-of-theme {
    vertical-align: super;
    font-weight: bold;
    font-size: 12px;
    color: #b59f5b;
}

.product {
    margin-top: 64px;
    flex: 1;
}

.product-box {
    margin-top: 215px;
    display: flex;
    justify-content: space-between;
}

.product-card {
    box-sizing: border-box;
    width: 29.914%;
    flex: none;
    position: relative;
    display: flex;
}

.product-image {
    position: absolute;
    margin: 0 auto;
    width: 85.714%;
    height: 200px;
    top: -172px;
    left: 0;
    right: 0;
    bottom: 0;
}

.product-img {
    display: block;
    max-width: 100%;
}

.product-text-box {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 58px 25px 30px;
    outline: 3px solid rgba(143, 127, 81, 0.6);
}

.product-title>a {
    color: #0f0d0e;
    cursor: pointer;
}

.product-content>a {
    color: #b59f5b;
    cursor: pointer;
}

.product-content>a:hover {
    text-decoration: underline;
}

.product-footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.product-price {
    font-weight: bold;
    font-size: 20px;
    color: #0f0d0e;
}

.product-old-price {
    text-decoration: line-through;
}

.product-old-price,
.product-new-price {
    display: block;
}

.product-button {
    box-sizing: border-box;
    border: none;
    width: 47.457%;
    height: 48px;
    cursor: pointer;
    background-color: #b59f5b;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 64px auto 0 auto;
    padding: 0 15px 40px;
}

.socials-list {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f4f7f6;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    list-style: none;
}

.social-box:nth-child(n+2) {
    margin-left: 2.564%;
}

.social {
    max-width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.social-twitter {
    width: 25px;
    height: 21px;
    background-image: url("../SVG/004-twitter.svg");
}

.social-pinterest {
    width: 16px;
    height: 20px;
    background-image: url("../SVG/001-pinterest.svg");
}

.social-facebook {
    width: 12px;
    height: 20px;
    background-image: url("../SVG/002-facebook-logo.svg");
}

.social-instagram {
    width: 20px;
    height: 20px;
    background-image: url("../SVG/005-instagram.svg");
}

.social-tumblr {
    width: 13px;
    height: 20px;
    background-image: url("../SVG/003-tumblr.svg");
}

.social-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
    margin-top: 74px;
    text-align: center;
}

.copyright-text {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #999999;
}